---
import Footer from "../components/Footer.astro";
import MainLayout from "../layouts/MainLayout.astro";

// No es necesario el Async, ya que hay un top level async
const response = await fetch("https://rickandmortyapi.com/api/character");
const characters = await response.json();

// Este console log no se ve en el navegador, solo en la terminal
console.log(characters);
---

<MainLayout>
  <h1 class="text-3xl font-bold">Users</h1>
  <ul class="flex items-center justify-center flex-wrap">
    {
      characters.results.map((character: any) => (
        <li class="p-2 flex items-center justify-center flex-col">
          <h1 class="font-bold">{character.name}</h1>
          <img src={character.image} class="image-profile" />
        </li>
      ))
    }
  </ul>
  <Footer title="Footer en Usuarios" />
</MainLayout>

<style>
  .image-profile {
    border-radius: 50%;
    width: 100px;
  }
</style>
